// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// Color Scheme

$space-black: #3F4850;
$background-grey: #404B6C;
$backgroud-light-grey: #535E7F;
$coral-red: #F08286;
$vivid-green: #3DA599;
$pink: #F872B0;
$purple-ish: #937DED;
