// FONTS
$font-size: 16px;

// PADDING
$padding: 16px;

// MARGIN
$margin-top: 16px;

// CARD BOX SHADOW
$card-boxshadow: 0px 5px 8px -1px rgba(0,0,0,0.36);

// CARD ICON SIZE
$card-icon: 80px;
$height: 160px;

//Navbar
$navbar-height: 70px;

