<p>Olá <%= @user.email %>,</p>

<p>Caso algo esteja diferente do seu planejamento, nos avise que faremos o possível para encontrar um novo vôo para você. </p>

<%= link_to "Estou com problemas no meu vôo", tickets_url %>

<p>Equipe Flyzer</p>
