.flight-index {
  color: $white;
  margin-bottom: 0;
  h1 {
    font-size: ($font-size * 2.5);
    font-weight: 400;
  }
  h2 {
    font-size: ($font-size * 1.5);
    font-weight: 300;
  }
  h3 {
    font-size: ($font-size * 2);
    font-weight: 100;
  }
  p {
    font-size: ($font-size * 0.75);
    font-weight: 100;
  }
  // .index-card {
  //   background-image: linear-gradient(to left, rgba(83, 94, 127,0.4),rgba(64, 75, 108,0.4),rgba(64, 75, 108,0.4),rgba(64, 75, 108,0.4)), url(gplay.png);
  // }
  .reverse-style {
    background: $background-grey;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $background-grey, $backgroud-light-grey, $backgroud-light-grey, $backgroud-light-grey);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $background-grey, $backgroud-light-grey, $backgroud-light-grey, $backgroud-light-grey); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .card-body {
    display: flex;
    justify-content: center;
    padding: ($padding / 2) ($padding * 1);
    min-height: $height;
  }
  .featured {
    min-height: $height;
    max-height: $height;
    max-width: 20%;
    padding: ($padding / 2) $padding;
    background: $purple-ish;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, $purple-ish, $pink);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, $purple-ish, $pink); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 24px 0px 0px 24px;
  }
  .special-featured {
    font-size: ($font-size * 0.7);
    white-space: nowrap;
  }
}
