// Specific CSS for your home-page
body {
background: $background-grey;  /* fallback for old browsers */
color: $white;
  h1 {
    font-size: ($font-size * 2.3);
  }
  h2 {
    font-size: ($font-size * 1.5);
  }
  a {
    color: $white;
    text-decoration: none;
    :active {
      color: $white;
    }
    :link {
      color: $white;
    }
  }
  .card-icon {
    width: ($card-icon * 2);
    height: ($card-icon * 2);
  }
  .flight-info-time {
    color: $coral-red;
  }
  .card-body {
    min-height: 87vh;
  }
  .card-question {
    margin-bottom: 114px;
  }
  .login-button {
    position: relative;
    top: 37px;
  }
}
