// Specific CSS for your home-page
body {
background: $background-grey;  /* fallback for old browsers */
}
.home-card {
  color: $white;
  a {
    color: $white;
    text-decoration: none;
    :active {
      color: $white;
    }
    :link {
      color: $white;
    }
  }
  .card-icon {
    width: ($card-icon * 2);
    height: ($card-icon * 2);
  }
  .flight-info-time {
    color: $coral-red;
  }
}
