.forgot-password{
  h2 {
    color: $white;
  }

  .form-inputs {
    width: 95vw;
  }
  .form-actions {
    width: 100%;
    margin-bottom: 50px;
  }
  .btn {
    width: 95%;
    margin-bottom: 10px;
    border-radius: 50px;
  }
  .google-login {
    width: 95%;
  }

}
