.user-login {
  .white-login-text {
    color: $white;
  }
  .index-card {
    min-height: $form-height;
    max-height: $form-height;
    min-width: 93vw;
    max-width: 93vw;
  }
  .featured {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $form-height;
    max-height: $form-height;
    padding: ($padding / 2) $padding;
    color: $white;
    background: $purple-ish;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, $purple-ish, $pink);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, $purple-ish, $pink); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 24px 0px 0px 24px;
  }
  .google-text {
    margin-right: 35%;
    color: $white;
  }
  form {
    width: 93vw;
  }
  .form-inputs {
    margin-bottom: 40px;
  }
  .form-actions {

  }
  .index-card .align-items-center {
    width: 93vw;
  }
  #content > section > div > a:nth-child(2) > div {
    width: 93vw;
  }
  .form-check {
    color: $white;
  }

  #content > section > div > a:nth-child(2){
    margin-top: 20px;
  }
  .new-register{
    position: relative;
    top: 45px;
  }
  .google-login {
    position: relative;
    top: 10px;
  }
  .forgot-password {
    position: relative;
    top: 20px;
  }
}
