<nav class="navbar py-3 px-4">
  <div class="d-sm-none" id="sidebarCollapse">
    <i class="fas fa-bars menu"></i>
  </div>
  <div class="d-block d-sm-none">
    <%= link_to root_path do %>
      <%= cl_image_tag 'https://res.cloudinary.com/dln8hlx3o/image/upload/c_thumb,w_200,g_face/v1552062350/logo_transparent.png', class: "logo-flyzer" %>
    <% end %>
  </div>
</nav>


