<<<<<<< HEAD
<nav class="navbar py-3 px-4">
  <div class="d-sm-none" id="sidebarCollapse">
    <i class="fas fa-bars menu"></i>
  </div>
  <div class="d-block d-sm-none">
    <p class="navbar-title">Flyzer</p>
  </div>
  <div class="navbar-left d-block d-sm-none">
  <i class="fas fa-qrcode menu"></i>
  </div>
</nav>


