<nav class="navbar py-3 px-4">
  <div class="d-sm-none" id="sidebarCollapse">
    <i class="fas fa-bars menu"></i>
  </div>
  <div class="d-block d-sm-none">
    <%= cl_image_tag 'https://res.cloudinary.com/dln8hlx3o/image/upload/ar_1:1,b_rgb:ffffff,bo_5px_solid_rgb:2441b0,c_fill,g_auto,r_max,w_1000/v1551910439/flyzer.jpg', class: "logo-flyzer" %>
  </div>
</nav>


