  <nav id="sidebar">
    <div class="card">
      <div class="sidebar-photo d-flex justify-content-center align-items-center p-4">
        <%= cl_image_tag('profile_placeholder.png', class: 'avatar-large') %>
      </div>
      <div class="card-body">
        <h5 class="card-title">Henrique Medeiros</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fas fa-plane"></i> <span class="sidebar-options">Meus voos</span></li>
        <li class="list-group-item"><i class="fas fa-search"></i> <span class="sidebar-options">Procurar voo</span></li>
        <li class="list-group-item"><i class="fas fa-credit-card"></i> <span class="sidebar-options">Pagamento</span></li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
        <a href="#" class="card-link"><i class="fas fa-question-circle sidebar-options"></i> Ajuda</a>
      </div>
    </div>
  </nav>
