<section>
   <div class="container">
    <div class="card">
      <h1 class="text-center">Update your Ticket</h1>
      <%= render 'form', ticket: @ticket %>
      <%= link_to "Back to all Tickets", tickets_path %>
    </div>
  </div>
</section>
