<section class="flight-index">
  <div class="container">
    <h1 class="text-center">ATUALIZE O SEU VÔO</h1>
    <%= render 'form', ticket: @ticket %>
    <%= link_to "Retornar para os Meus Vôos", tickets_path %>
  </div>
</section>
