.btn-header {
  border-radius: 12px;
  min-width: 25vh;
  min-height: 10vw;
  max-height: 10vw;
  width: 100%;
  background: $white;
  color: $black;
  font-size: $font-size;
}
.btn-round {
  border: 1px solid;
  border-radius: 50%;
  width: 40px;
  color: $white;
  height: 40px;
}
