.card {
  margin-top: $margin-top;
  background: $violet-blue;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $violet-blue, $pale-blue);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $violet-blue, $pale-blue); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 24px;
  border: none;
  -webkit-box-shadow: $card-boxshadow;
  -moz-box-shadow: $card-boxshadow;
  box-shadow: $card-boxshadow;
  .card-text {
    margin-top: ($margin-top / 2);
    font-size: ($font-size * 2);
    padding: $padding;
    color: $white;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: $font-size;
    }
  }
    .card-special-text {
      font-size: ($font-size * 2);
      font-weight: 300;
    }

  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: ($padding / 2) ($padding * 3);
    min-height: 160px;
  }
}
