/* Main navbar */
.navbar {
  background: $background-grey;
  transition: all 0.3s ease;
  height: $navbar-height;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  color: $white;
  font-size: x-large;
}

.navbar-title{
  color: $white;
  text-align: center;
  align-items: center;
  margin-bottom: 0;
}

