#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  transition: all 0.3s ease;
  background: $white;
}

#sidebar.active {
  margin-left: -250px;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}
.sidebar-options {
  margin-left: 20px;
}
.disabled-div {
  pointer-events: none;
  opacity: 0.4;
}
#sidebarCollapse {
  pointer-events: visible !important;
}
.overflow {
  overflow: hidden;
}
.profile-edit {
  position: relative;
}
#edit-pen-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 4px 4px;
  box-shadow: 1px 1px #888888;
  background: $white;
  border-radius: 100%;
  text-decoration: none;
}
